In [4]:
import pandas as pd

In [6]:
pd = pd.read_table('Testtxt.txt')

In [7]:
pd.head()

  No.  Name    Price
0  1    Apple     1€
1  2    Ball      2€
2  3    Cell      3€
3  4    Doll      4€
4  5    Egg       5€